:root {
    /* Placeholder values */
    --color: #213547;
    --background-color: #ffffff;
    --color-hover: #747bff;
    --color-accent: #646cff;
    --color-accent-hover: #535bf2;
    --color-light: #f9f9f9;
}