footer {
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: var(--spacing-xxs);
    height: 3.5rem;
    bottom: 0;
    margin-top: auto;
}

.copyright {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: var(--font-family-heading);
    font-size: var(--font-size-xs);
    color: var(--moss-jade);
}

.tagline {
    font-family: var(--font-family-body);
    font-size: var(--font-size-sm);
    color: var(--moss-jade); 
}

.logo {
    width: 30px;
    height: auto;
}