
@import url("../../../../assets/styles/Reset.css");
@import url("../../../../assets/styles/Variables.css");
@import url("../../../../assets/styles/Fonts.css");


body{
    background-color: transparent;
    
}

h1{
    font-family: var(--font-family-"Manrope");
    font-size: var(--size-25px);
    font-weight: 900;
}