.carousel {
    width: 100%;
    max-width: 100%;
    height: 20rem;
    overflow: hidden;
    border-radius: var(--border-radius-xl)
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
}

.content img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

:global(.carousel-indicators [data-bs-target]) {
    background-color: var(--black) !important;
    border: 2px var(--white) !important;
    transition: background-color 0.3s;
}

.carousel-control-prev, .carousel-control-next {
    background-color: transparent;
    border: none;
    padding: 10px;
    color: var(--black);
}

.carousel-control-prev:hover, .carousel-control-next:hover {
    filter: brightness(0.8); 
}