.errorContainer {
    padding: var(--spacing-xl);
    text-align: center;
    background-color: var(--white);
    color: #8b0000;
    border: 2px solid #ffcaca;
    border-radius: var(--border-radius-lg);
    box-shadow: var(--shadow-md);
    margin: var(--spacing-xl);
}

.errorTitle {
    font-size: 1.75rem;
    font-weight: 700;
    margin-bottom: 1rem;
}

.errorMessage {
    font-size: 1rem;
    color: #5c0000;
}