.link-button {
    font-family: var(--font-family-ui);
    font-weight: 600;
    justify-content: center;
    align-items: center;
    background-color: var(--dark-forest);
    padding: var(--spacing-sm) var(--spacing-lg);
    border-radius: var(--border-radius-xl);
}

.link-button:hover {
    background-color: var(--forest-fern);
}

.link-button:active {
    background-color: var(--pine-grove);
}

.link-button:focus {
    outline: none;
    box-shadow: 0 0 0 2px var(--soft-gray-mist);
}

.link-button:disabled {
    background-color: var(--soft-gray);
    cursor: not-allowed;
}

.link-button:disabled:hover {
    background-color: var(--soft-gray);
}