.bannerInfo {
    position: relative;
    z-index: 10;
    color: var(--white);
    width: 100%;
    padding: 2rem;
  }
  
  .bannerTitle {
    font-size: 64px;
    font-family: var(--font-family-heading);
    font-weight: bold;
    margin-bottom: 0;
  }
  
  .bannerDescription {
    font-size: 20px;
    font-family: var(--font-family-body);
    margin-top: 0;
    margin-bottom: 10px;
    width: 100%;
    padding-right: 40%;
  }

