.card {
    width: 413px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    background: white;
    overflow: hidden; 
    display: flex;
    flex-direction: column;
  }
  
  .imageSection {
    /* width: 100%; Full width of card */
    height: 200px; /* Fixed height */
    /* margin: 0; Remove all margins */
  }
  
  .textSection {
    padding: 1rem;
    border-radius: 0 0 8px 8px; 
  }