.container {

}

.container h3 {
    color: var(--black);
    font-family: var(--font-family-heading);
    font-size: var(--font-size-lg);
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}