.container {
    display: flex;
    flex-direction: column;
    justify-content: left;
    margin-bottom: var(--spacing-lg);
}

.container h3 {
    color: var(--black);
    font-family: var(--font-family-heading);
    font-size: var(--font-size-xl);
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: var(--spacing-xs);
}

.content {
    color: var(--black);
    font-family: var(--font-family-heading);
    font-size: var(--font-size-md);
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: var(--spacing-lg);
    width: 100%;
}